.articleCard img{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 100%;
    min-height: 50px;
}
.articleCard__desc{
    position: relative;
    z-index: 2;
    margin: 0 20px;
    top: 46px;
    background-color: #FFFFFF;
    padding: 26px 20px;
    max-width: 410px;
    min-height: 225px;
    left: 415px;
    color: #000000;
}
.articleCard__desc h3{
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 14px;
        padding: 0;
        color: #000000;
}
.articleCard__desc p{
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 27px;
    padding: 0;
     color: #6D7288;

}

.articleCard__desc  a{
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 27px;
        padding: 0;
        color: #000000;
        text-decoration: none;
}

.articleCardRight .articleCard__desc{
    left: 0px;
}
.articleCardRight img{
    left: 300px;
}