.banner__card{
    width: 50%;
    height: 286px;
    align-items: flex-end;
    background-size: cover;
    background-position: 50%;
    float: left;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display: flex;
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: none;
    
}
.banner__card:first-child {
    margin-right: 20px;
}
.banner__cardContain {
    flex-grow: 1;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.banner__cardContain h2{
    color: #fff;
    font-style: italic;
    text-shadow: 1px 0 5px #6d7288;
    width: 100%;
    font-size: 34px;
    text-align: center;
    margin-bottom: 15px;
}

.banner__cardContain > button{
    color: #000;
    background-color: #f8f8f8;
    min-width: 100px;
    text-transform: capitalize;
}