.productCard{
    width: 242px;
    margin-right: 18px;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin: 14px 16px; */
    border-radius: 1px;
    background: #fff;
    padding: 5px;
}
.productCard__image {
    display: block;
    height: 270px;
    object-fit: contain;
    margin: 0 auto;
}
.productCard__price_sec svg{
    width: 20px;
    stroke: #eb4854;
  stroke-width: 1
}

.productCard__price {
    margin-right: 4px;
    font-weight: 400;
    color: #000;
}

.productCard__price__sale {
    color: #eb4854;
    font-weight: 700;
}

.productCard__priceInfo {
    margin-left: 4px;
    color: #6d7288;
}
.productCard__details {
    flex-grow: 1;
}
.productCard__details > a {
    text-decoration: none;
    color: #000;
}
.productCard__title {
    font-weight: 400;
    color: #000;
    line-height: 20px;
    margin-bottom: 4px;
    margin-right: 29px;
    font-size: 16px;
}

.productCard__shortDescName{
    font-size: 14px;
    margin-bottom: 14px;
}
.productCard__wishlist{
    position: absolute;
    right: 0
}

.productCard__wishlist > button{
    padding: 7px 4px 1px;
    background: #f8f8f8;
    border-radius: 20px;
    position: relative;
    top: -50px;
    right: 20px;
    font-size: 21px;
    width: 40px;
    height: 40px;
    color: rgba(2,17,53,.5);
    min-width: fit-content;
}