.clients{
    background-color: #f8f8f8;
    padding-bottom: 60px;
}
.client__contain{
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
}

/* news */
.news{
        background-color: #FFFFFF;
        padding: 26px 0;
}

.news__conatin{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

/* Article */
.article{
    background-color: #FFFFFF;
    padding: 30px 0
}
.article__conatin{
    min-height: 305px;
    max-width: 830px;
    position: relative;
    margin: 0 auto 50px
}