.header__main{
    position: relative;
    background: #000;
    color: #aaa;
}
.header__top{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255,255,.7);
}
.header_topLeft{
    margin-left: 15px;
}

.header_topLeft > p{
    color: #aaa;
    
}
.header_topRight{
    margin-right: 15px;
    display: flex;
}
.header_link{
    position: relative;
}
.header_link + .header_link:before {
    content: ' | ';
    position: absolute;
    left: 0px;
}
.header_link + .header_link{
    margin:0 15px;
    padding: 0 15px;
}
.header_link > a{
    color: #ffffff;
    text-decoration: none;
}
.header_link:hover a{
    opacity: .5;
    transition: all 300ms ease-in-out;
}
.header_link.horizontalLineNone:before{
    display:none;
}
.header_link.horizontalLineNone{
    margin:0px;
}

.header__logo{
    object-fit: contain;
    height: 28px;
    margin: 2px 8px 0 0;
}
.header__main > header{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding-left:15px;
    padding-right:15px;
    height: 70px;
}
.header__menu{
    display: flex;
    align-items: center;
    margin: 0 10px 5px 0;
}
.header__main header  .header_link > a{
    font-weight: 700;
    color: #aaa;
    position: relative;
    font-size: 18px;
    border-bottom: 3px solid#aaa;
}


.header__search{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.header__cart{
    display: inline-flex;
    padding: 0 10px;
    align-items: center;
    text-align: center
}
.header__cart > a{
    color: #ffffff;
    text-decoration: none;
}
.header__cart > a > span{
    display: block;
}

.header__search_Input {
    display: flex;
    align-items: center;
    height: 30px;
    border: none;
    padding: 0px;
    width: 80vw;
    margin:0px auto 0;
}
.header__search_Input>input {
    flex: 1 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}
.header__search_Input > .MuiSvgIcon-root{
    height: 30px;
    font-size: 36px;
}