footer{
        background-color: #000000;
        border-top: 20px solid #f2f2f2;
}
footer > .contain{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    max-width: 1020px;
    margin: 0 auto;
}

footer > .contain > .col-1 {
    flex: 1 0 200px;
    text-align: left;
}
footer > .contain > .col-2 {
    border: none;
    padding: 0;
    flex: 0 0 165px;
    margin-left: 100px;
}
footer p{
    margin: 0;
    padding: 0;
    font-size: 14px
}
footer p +p{
    padding-top: 10px;
    
}
footer h4{
    font-size: 16px;
    margin-bottom: 16px
}
.list__inline{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__inline > li > a{
    font-size: 14px;
    line-height: 1.6;
    padding: 0;
    border-bottom: 2px solid transparent;
    color: #FFFFFF;
    text-decoration: none;
}

.view__allLink{
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.ios__appIcon {
    margin: 3px 0 15px;
    height: 40px;
   object-fit: contain;
}