.clientCard{
        width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 7px;
    align-items: center
}
.clientCard img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.clientCard a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
}