.newsCard{
    display: flex;
    flex-direction: column;
    max-width: 324px;
}
.newsCard img {
    width: 324px;
    height: 324px;
    object-fit: cover;
    margin-bottom: 26px;
}

.newsCard__caption > h2{
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 1.08;
    color: #000;
}
.newsCard__caption > p{
        color: #6D7288;
        margin: 0 0 14px;
        font-size: 16px;
}
.newsCard__caption > a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.newsCard__caption > .MuiSvgIcon-root{
    height: .8em;
    top: 4px;
    position: relative;
}