.banner{
    background-color: #000;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.banner__container{
    width:100%;
    position: relative;
    max-width: 1700px;
    max-width: 1020px;
    margin: 0 auto;
    overflow: hidden
}
.banner__container__title {
    margin: 0 auto;
    font-size: 44px;
    max-width: 600px;
    text-align: center;
    color: #fff;
}

.banner__cards{
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
