.trending__now{
    background-color: #f8f8f8;
    padding: 30px 15px;
 
}
.trending__now_title{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 0 26px;
}
.trending__now h2{
    text-align: center;
    font-weight: 700;
    color: #021135;
    word-break: break-word;
    margin: 0 8px 0 0;
    font-size: 22px;
}